/* frontend/src/App.css */
.StockTable th {
    background-color: #2d2d2d;
    position: sticky;
    top: 0;
  }
  
  .StockTable tbody tr:nth-child(even) {
    background-color: #333;
  }
  
  .StockTable tbody tr:nth-child(odd) {
    background-color: #2d2d2d;
  }
  
  .StockTable tbody tr:hover {
    background-color: #444;
  }
  